services:
  app:
    build: .
    container_name: wallet_app
    ports:
      - "${PORT:-10000}:${PORT:-10000}"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev